#wrap {
    width: 950px;
    margin: 0 auto;
}

#left_col {
    float: left;
    width: 750px;
}

#sequencechosen {
    width: 200px;
    margin-right: 10px;
}

#websites {
    width: 750px;
    height: 320px;
    overflow-y: auto;
}

#websites input[type=checkbox] {
    padding: 0;
    margin: 3px;
}

input[type=checkbox] {
    background-color: blue;
}

#websites label {
    padding: 0;
    margin: -2px;
}

#websites p {
    margin: 0;
    padding: 0;
    width: 15px;
    display: inline-block;
    text-align: right;
}

#websites button {
    margin-left: 5px;
}

#right_col {
    float: right;
    width: 200px;
}

.colHolder .leftColHolder {
    display: inline-block;
    width: 210px;
}

.colHolder .rightColHolder {
    display: inline-block;
}