<html>

<head> 
  <title>Website-Sequence Options</title>

  <script src="js/angular.min.js"></script>
  <script src="js/options.js"></script>
  <script src="js/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/options.css">
</head>

<div id="wrap" ng-app="optionsPageApp" ng-controller="optionsPageController">
    <div id="left_col">
        <font size="18">Website-Sequence Options</font>

	<br>
	<br>

	<form id="NewSequenceForm">
	    New Sequence Name:<br>
	    <input type="text" name="newname" id="newname" data-ng-model="newSequenceName">
	    
	    <br>
	    <br>
	  
	    <button id="newlist" data-ng-click="addSequence()">New Sequence</button>
	    
	</form>
	
	<br>
	<br>
  
	<big>Sequences:</big>
	<br>
	<select id="sequencechosen" data-ng-model="currentSequence" data-ng-options="seq as seq[0] for seq in sequences">
	</select>
	<button id="remove" data-ng-click="removeCurrentSequence()">Remove Sequence</button>

	<br>
	<br>
	
	<div id="status"></div> <!--?-->
	
	Add new website: <br>
	Title: <input type="text" name="newtitle" id="newtitle" data-ng-model="newWebsiteTitle">
	&nbsp;&nbsp;
	URL: <input type="text" name="newurl" id="newurl" data-ng-model="newWebsiteUrl" size="35">
	<br>
	
	<input type="checkbox" name="days" data-ng-false-value="''" data-ng-true-value="'s'" data-ng-model="newWebsiteS">
	<label>Sunday</label>
	<input type="checkbox" name="days" data-ng-false-value="''" data-ng-true-value="'m'" data-ng-model="newWebsiteM">
	<label>Monday</label>
	<input type="checkbox" name="days" data-ng-false-value="''" data-ng-true-value="'t'" data-ng-model="newWebsiteT">
	<label>Tuesday</label>
	<input type="checkbox" name="days" data-ng-false-value="''" data-ng-true-value="'w'" data-ng-model="newWebsiteW">
	<label>Wednesday</label>
	<input type="checkbox" name="days" data-ng-false-value="''" data-ng-true-value="'h'" data-ng-model="newWebsiteH">
	<label>Thursday</label>
	<input type="checkbox" name="days" data-ng-false-value="''" data-ng-true-value="'f'" data-ng-model="newWebsiteF">
	<label>Friday</label>
	<input type="checkbox" name="days" data-ng-false-value="''" data-ng-true-value="'a'" data-ng-model="newWebsiteA">
	<label>Saturday</label>
	<br>
	<button id="add" data-ng-click="addNewWebsite()">Add</button>
	at Location: <input type="text" name="webindex" id="webindex" data-ng-model="newWebsiteIndex" size="1"
			    title="If the index is an index within the list, the new website is placed at the given index and pushes the website at that location and those after it down.">
	<hr>

	
	<div id="websites">
	  <div data-ng-repeat="website in currentSequenceWebsites track by $index">
	      <p>{{$index+1}}.</p>
	      <input type="text" style="font-size:12px;" data-ng-model="website.title">
	      <input type="text" style="font-size:12px" size="35" data-ng-model="website.url">
	      <input type="checkbox" data-ng-init="website.S=website.days.includes('s')?'s':''" data-ng-model="website.S"
		     data-ng-true-value="'s'" data-ng-false-value="''"><label>S</label>
	      <input type="checkbox" data-ng-init="website.M=website.days.includes('m')?'m':''" data-ng-model="website.M"
		     data-ng-true-value="'m'" data-ng-false-value="''"><label>M</label>
	      <input type="checkbox" data-ng-init="website.T=website.days.includes('t')?'t':''" data-ng-model="website.T"
		     data-ng-true-value="'t'" data-ng-false-value="''"><label>T</label>
	      <input type="checkbox" data-ng-init="website.W=website.days.includes('w')?'w':''" data-ng-model="website.W"
		     data-ng-true-value="'w'" data-ng-false-value="''"><label>W</label>
	      <input type="checkbox" data-ng-init="website.H=website.days.includes('h')?'h':''" data-ng-model="website.H"
		     data-ng-true-value="'h'" data-ng-false-value="''"><label>T</label>
	      <input type="checkbox" data-ng-init="website.F=website.days.includes('f')?'f':''" data-ng-model="website.F"
		     data-ng-true-value="'f'" data-ng-false-value="''"><label>F</label>
	      <input type="checkbox" data-ng-init="website.A=website.days.includes('a')?'a':''" data-ng-model="website.A"
		     data-ng-true-value="'a'" data-ng-false-value="''"><label>S</label>
	      <button class="save"data-ng-click="saveWebsiteChanges($index,website.title,website.url,website.S,website.M,website.T,website.W,website.H,website.F,website.A)">Save</button>
	      <button class="remove" data-ng-click="removeWebsite($index)">Remove</button>
	    <hr>
	  </div>
	</div>

	
	<br>
	<br>

    </div>
    
    <div id="right_col">
        <div style="text-align: right;"><IMG SRC="icon.png" ALT="image" style="PADDING-TOP: 75px"></div></a>
    </div>


</div>
  

</body>

</html>
