<!-- Sequence Choosing page -->
<!-- like a new tab page, but for Website-Sequence -->

<html>

  <head>
    <script src="js/angular.min.js"></script>
    <script src="js/sequenceChoosing.js"></script>

    <link rel="stylesheet" type="text/css" href="css/sequenceChoosing.css">
      
    <title>Sequence Choices</title> 
  </head>



  <body data-ng-app="sequenceChoosingApp" data-ng-controller="sequenceChoosingController">

    <div id="division">

      <div id="title" align="center"> 

	<font size="18">Sequence Choices</font>

	<hr>

      </div>

      <div id="sequences">

	<div data-ng-repeat="sequence in sequences">
	  <button class="chooseSeq" data-ng-click="startSequence(sequence)">{{sequence[0]}}</button>
	  <hr>
	</div>

      </div>

      <div id="optionsButtonDiv" align="center">
	<button class="options" id="openOptionsButton" data-ng-click="gotoOptions()">Options</button>
      </div>


      <div id="picture" align="center">
	        <div style="text-align: center;"><img src="img/icon.png" alt="image" style="padding-top: 25px"></div>
      </div>

    </div>

  </body>

</html>
